$bp-xsmall: new-breakpoint(min-width em(360));
$bp-small: new-breakpoint(min-width em(420));
$bp-small-1: new-breakpoint(min-width em(560));
$bp-small-2: new-breakpoint(min-width em(620));
$bp-medium: new-breakpoint(min-width em(760));
$bp-large: new-breakpoint(min-width em(1440));
