// Primary colors
$amber: #f9c000;
$judge-gray: #4c3d2a;

// Background colors
$white: #fff;
$desert-storm: #f7f7f6;
$ebb: #e9e7e6;
$swirl: #d1cdca;

$black: #000;
$tuatara: #333332;
$fuscous-gray: #444443;
