.hero {
	$hero-font-color: $white;
	$hero-background-color: rgba($black, 0.3);

	background: {
		attachment: fixed;
		color: $hero-background-color;
		image: url('../../images/edyn-web-hero-top.jpg');
		position: 50% 50%;
		repeat: no-repeat;
		size: auto 100%;
	}
	background-blend-mode: darken;
	color: $hero-font-color;
	padding-top: em(340);
	position: relative;
	text-align: center;
	z-index: 0;

	@include media($bp-medium) {
		height: 100vh;
	}

	h2 {
		margin-top: em(10);
	}

	h2, p {
		@include shift(1);
		@include span-columns(10);
	}

	p {
		@include media($bp-medium) {
			@include shift(2);
			@include span-columns(8);
		}
	}
}