.logo {
	display: block;
	z-index: 2;

	@include hide-text;
	@include position(absolute, 2% null null 5%);
	@include retina-image('../../images/edyn-logo', 127px 140px);
	@include size(127px 35px);
	//@include transition(0.2s background);
	background-repeat: no-repeat;

	&.white {
		background-position: 0 -35px;
	}

	&.dark {
		background-position: 0 -70px;
	}
}

.menu {
	$menu-action-color: $action-color;
	$menu-action-color-alternate: $white;
	$menu-action-color-dark: $judge-gray;
	$menu-background-color: rgba($black, 0.85);
	$menu-font-family: $proxima-semibold;

	.menu-icon {
		cursor: pointer;
		position: relative;
		z-index: 2;

		@include size(54px);
		@include position(absolute, 0% 2% null null);
		@include transition(transform 0.5s);

		@include media($bp-medium) {
			display: none;
		}

		span {
			background-color: $menu-action-color;
			border-radius: 1px;
			display: block;
			@include position(absolute, 50% null null 50%);
			@include size(22px 2px);
			@include transform(translateX(-50%) translateY(-50%));
			@include transition(background 0.5s);

			&::before, &::after {
				content: '';
				display: block;
				background-color: $menu-action-color;
				border-radius: 1px;
				@include size(22px 2px);
				@include transition(transform 0.5s);
			}

			&::before {
				@include transform(translateY(-6px));
				@include position(absolute, -2px null null 0);
			}

			&::after {
				@include transform(translateY(6px));
				@include position(absolute, 2px null null 0);
			}
		}

		&.is-open {
			@include transform(rotate(180deg));

			span {
				background: transparent;
				@include size(28px 2px);

				&::before, &::after {
					@include size(28px 2px);
				}

				&::before {
					@include transform(translateY(0) rotate(45deg));
					@include position(absolute, 0 null null 0);
				}

				&::after {
					@include transform(translateY(0) rotate(-45deg));
					@include position(absolute, 0 null null 0);
				}
			}

			& + .menu-list {
				display: block;
			}
		}
	}
	.menu-list {
		position: relative;
		z-index: 1;

		@include media($bp-medium) {
			@include clearfix();
		}
	}
		.menu-item {
			padding: em(12) 0;
			font: {
				family: $menu-font-family;
				size: em(20);
			}

			a {
				&.button {
					font-size: em(18);

					@include media($bp-medium) {
						font-size: em(11);
					}
				}

				&:not(.button) {
					position: relative;
					top: em(6);
				}

				@include media($bp-medium) {
					font-size: em(11);
				}
			}

			&-alternate {
				a {
					color: $menu-action-color-alternate;
				}

				@include media($bp-medium) {
					display: none;
				}
			}

			@include media($bp-medium) {
				float: right;
				margin: 0 em(12);
				padding: 0;
			}
		}

	&.menu-header {
		@include position(absolute, 0 0 0 0);

		.menu-list {
			display: none;
			background: $menu-background-color;
			padding-top: em(75);
			height: 100vh;

			@include media($bp-medium) {
				background: transparent;
				display: block;
				height: inherit;
				padding-top: 0;
				position: relative;
				right: 5%;
			}
		}

		&.dark {
			.menu-item {
				a:not(.button) {
					color: $menu-action-color-dark;
				}
			}
		}
	}

	&.menu-footer {
		.menu-list {
			display: block;
		}

		.menu-item {
			display: inline-block;
			margin: 0 em(10);

			a {
				font-size: em(18);
			}

			@include media($bp-medium) {
				float: left;
			}
		}

		@include media($bp-medium) {
			@include span-columns(6 of 12);
			margin: 0 0 0 1%;
		}
	}
}

&.about {
	.logo {
		background-position: 0 -105px;
	}

	.menu-icon {
		span, span::before, span::after {
			background-color: $white;
		}
	}

	.menu-item {
		a {
			color: $white;
		}

		a.button {
			border-color: $white;

			&:hover {
				background: $white;
				border-color: transparent;
				color: $judge-gray;
			}
		}
	}
}