/* User agent specific hacks */

// ios
.ua-ios {
    .hero {
        padding-top: 0%;

        &-background {
            display: none;
        }

        &-content {
            margin-bottom: 0;
            padding-bottom: 20%;

			&:first-child {
				padding-top: 50%;
				background: {
					color: $judge-gray;
					image: url('../../images/edyn-web-hero-top-small.jpg');
					position: 70% center;
					repeat: no-repeat;
					size: auto 100%;
				}
			}

			&:last-child {
				padding-top: 20%;
				// background-color: $judge-gray;
                background: {
					color: $judge-gray;
					image: url('../../images/edyn-web-hero-top-blurred-small.jpg');
					position: 70% center;
					repeat: no-repeat;
					size: auto 100%;
				}
			}
        }
    }

    section {
		z-index: 1;

		&.section-app {
			@include media($bp-medium) {
				img {
					display: block !important;
					margin-top: em(-250);
				}

				.carousel-item {
					padding-top: 0% !important;
				}
			}
		}

		&.section-sensor {
			@include media($bp-medium) {
				background-position: 15% center;
				padding: 10rem 0;
				.section-item {
					margin-bottom: 0 !important;
				}
			}
		}
	}
}
