extends layouts/default

block vars
    - var bodyClass = 'about';

block title
    title About Edyn

block content
    #hero.hero
      .container
        .center.center-vertical
          span Edyn&apos;s vision
          h2 To change the way we grow food
          p
            | We&rsquo;re a team of scientists, technologists, and designers creating tools that connect you to your garden to help your plants thrive.
        .overlay
      .hero-arrow
    section.section-people
      .container
        h2 Our People
        .section-item.section-item-full
          .section-image
            .image-wrapper
              img(src='images/Jason.jpg', alt='')
          .section-content
            h3 Jason Aramburu
            h4 CEO
            p
              | Jason Aramburu is the founder and CEO of Edyn. Jason is an ecologist and soil scientist with a passion for sensors and connected devices. He is an Echoing Green Fellow, Ashoka Fellow, Gates Foundation Grantee and one of Forbes&rsquo; 30 Social Entrepreneurs under 30. Jason previously founded and led re:char, a successful social enterprise developing carbon-negative fertilizers and soil amendments for small farmers around the world.
            p
              | Jason holds a degree in Ecology and Evolutionary Biology from Princeton University, and he worked as a soil scientist at the Smithsonian Tropical Research Institute in the Panamanian Rainforest.
      .container-full
        .container
          .section-item.section-item-alternate.clearfix
            .section-image
              .image-wrapper
                img(src='images/Paul.jpg', alt='')
            .section-content
              h3 Paul Cowgill
              h4 VP Software Engineering
              p
                | By day, Paul works with Edyn&rsquo;s software engineers - back end, mobile, web, and firmware - and collaborates with the hardware engineering, R&amp;D, product, and design teams. Also by day, he spends his time architecting and writing code for Edyn&rsquo;s node.js back end. By night, Paul is a huge fan of comedy and music.
          .section-item.section-item-alternate
            .section-image
              .image-wrapper
                img(src='images/Bobo.jpg', alt='')
            .section-content
              h3 Mamadou Bobo Diallo
              h4 Director Software Engineering
              p
                | Bobo works with the engineering team to select the right technologies and maintain our platform&apos;s uptime.  When he isn&apos;t practicing node jitsu or improving our mobile app, he spends his time pondering whether our universe is a simulation with black matter serving as a measurement probe.
          .section-item.section-item-alternate
            .section-image
              .image-wrapper
                img(src='images/Dustin.jpg', alt='')
            .section-content
              h3 Dustin Franco
              h4 Embedded Systems Engineer
              p
                | Dustin writes firmware and studies soil at Edyn. You will either find him covered in mud in the soil lab or relaxing at his triple-desk. In his free time he enjoys circuit bending and tinkering with musical instruments.
          .section-item.section-item-alternate
            .section-image
              .image-wrapper
                img(src='images/Morgan.jpg', alt='')
            .section-content
              h3 Morgan Williams
              h4 VP Research and Development
              p
                | Morgan manages Edyn&rsquo;s product/services research and development strategy. This includes sensor optimization, development of decision trees for our recommendation algorithm, and general efforts to ensure continued innovation in the world of embedded ecological sensors.
          .section-item.section-item-alternate
            .section-image
              .image-wrapper
                img(src='images/Kirsten.jpg', alt='')
            .section-content
              h3 Kirsten Thompson
              h4 Community Manager
              p
                | Kirsten is the first point of contact for Edyn users. She oversees and moderates discussion forums, solves user issues, and also engages on social platforms. In addition, she manages the plant database, blog content, and keeps the community growing.
          .section-item.section-item-alternate
            .section-image
              .image-wrapper
                img(src='images/David.jpg', alt='')
            .section-content
              h3 David Postetter
              h4 Product Manager
              p
                | David works closely with Edyn engineers and contractors, managing the various aspects of developing future products. He also oversees the operations side of the business, connecting with vendors to optimize the production and quality of Edyn products.
          .section-item.section-item-alternate
            .section-image
              .image-wrapper
                img(src='images/Saj.jpg', alt='')
            .section-content
              h3 Saj Shetty
              h4 Director Mobile Engineering
              p
                | Saj designs apps that bring gardens to life. As an amateur gardener, he is learning about plants and is enthused about the nature of things. When not getting his hands dirty solving technical problems, he is digging up the backyard along with his dog Dex.
    section.section-careers
      .container
        .center.center-vertical
          h2 Come work with us
          a.button.button-small(href='https://angel.co/edyn/jobs', target='_blank') See careers page

append footer
      .lightbox
         a.logo(href='/') Edyn
         .lightbox-close.close-icon
           span
         .lightbox-content
           svg.svg-app(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 150 216')
             path(d='M73 100.6l-7.9-7.9-4.2 4.2L73 109m0 2.1L59.9 97.9l-4.2 4.2L73 119.5m0-33.1c-1.2.2-2.3.7-3.3 1.6l-3.6 3.6 6.9 6.9V86.4zm9.4 6.3l-7.9 7.9v8.4l12.1-12.1M77.7 88c-.9-.9-2.1-1.4-3.3-1.6v12.1l6.9-6.9-3.6-3.6zm-23.1 15.2l-.6.6c-2.2 2.2-2.2 5.8 0 8l15.7 15.7c.9.9 2.1 1.4 3.3 1.6v-7.6l-18.4-18.3zm33-5.3l-13.1 13.2v8.4l17.3-17.4m1.7 1.7l-.6-.6-18.4 18.4v7.6c1.2-.2 2.3-.7 3.3-1.6l15.7-15.7c2.2-2.3 2.2-5.9 0-8.1z', fill='#FDC115')
             g(fill='none', stroke='#FFF', stroke-width='2', stroke-miterlimit='10')
               path(d='M32.3 171.1h82.9m0-126.6H32.3m82.9 137.1c0 6-4.8 10.8-10.8 10.8H43.1c-6 0-10.8-4.8-10.8-10.8V31.7c0-6 4.8-10.8 10.8-10.8h61.3c6 0 10.8 4.8 10.8 10.8v149.9z')
               circle(cx='73.8', cy='181.6', r='6')
           h2 Get the Edyn app
           p
             | Track your garden&rsquo;s growth, get recommendations, and access Edyn&rsquo;s database of over 5,000 plants.
         .lightbox-footer
           p Choose a store below
           a.button-appstore(href='https://itunes.apple.com/us/app/edyn/id939748941?mt=8', target='_blank') Download from the App Store
           a.button-googleplay(href='https://play.google.com/store/apps/details?id=com.edyn.apps.edyn', target='_blank') Get it on Google play
