extends layouts/default

block vars
    - var bodyClass = 'page';

block title
    title Privacy Policy

block content
    .content
        .container
            .content-wrapper
                h2 Privacy Policy
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque magna metus, blandit quis massa in, ornare ultrices erat. Fusce libero sapien, sodales in felis a, lobortis finibus leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. In ullamcorper pulvinar leo eu lacinia. Pellentesque laoreet purus sed est varius sollicitudin. Maecenas gravida semper purus.
                p
                    a(href='#headline-1') Jump to Headline 1
                p
                    a(href='#headline-2') Jump to Headline 2
                p
                    | In quis semper purus. Vestibulum faucibus nibh eu lorem scelerisque faucibus. Integer finibus pretium congue. Nam porttitor libero lectus, vitae mattis odio egestas et. Sed nec ipsum tortor.
                h3#headline-1 Headline Style
                h4 Subhead Style
                p
                    | Cras non euismod dolor. Nam tempus nunc vitae metus fermentum cursus. Aenean sagittis mi a tincidunt finibus. Proin et nisl congue, malesuada ligula a, posuere odio. Donec fringilla efficitur eros id placerat. Vestibulum ullamcorper pulvinar libero, vel sollicitudin urna venenatis vitae. Duis efficitur, sapien in tempus laoreet, sem nisl mollis sapien, at commodo lacus erat sed magna.
                ul
                    li Bullet item lorem ipsum dolor
                    li Bullet item lorem ipsum dolor
                    li Bullet item lorem ipsum dolor
                p
                    | Proin eu imperdiet sem, sed facilisis elit. Integer vel diam pellentesque, luctus ante a, feugiat libero. Quisque aliquam posuere risus sed rutrum. Etiam fermentum condimentum ipsum, a pellentesque lorem. Fusce arcu risus, imperdiet ut pellentesque quis, malesuada quis magna. Duis aliquam tincidunt nulla at convallis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ut auctor nisl.
                p
                    strong Bold lead-in 
                    | suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas quis ante augue. Praesent gravida dictum velit id tincidunt. Curabitur sit amet tortor elit. Vestibulum neque magna, posuere eu turpis et, ornare bibendum magna. Fusce ac enim molestie, efficitur ex vel, commodo enim. 
                h3#headline-2 Headline Style
                p
                    | Proin eu imperdiet sem, sed facilisis elit. Integer vel diam pellentesque, luctus ante a, feugiat libero. Quisque aliquam posuere risus sed rutrum. Etiam fermentum condimentum ipsum, a pellentesque lorem. Fusce arcu risus, imperdiet ut pellentesque quis, malesuada quis magna. Duis aliquam tincidunt nulla at convallis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ut auctor nisl.
        
append footer
    include ./includes/lightbox.jade
