footer {
	$footer-font-color: rgba($white, 0.3);
	$footer-background-color: $fuscous-gray;

	background: $footer-background-color;
	color: $footer-font-color;
	font-size: em(10);
	padding: em(25) 0;
	text-align: center;
	position: relative;

	.container {
		@include media($bp-medium) {
			@include fill-parent();
			max-width: inherit;
		}
	}

	p {
		clear: both;
		padding-top: em(20);

		@include media($bp-medium) {
			padding-top: em(50);
		}
	}

	.app {
		margin: em(50) 0;

		@include media($bp-medium) {
			@include span-columns(6 of 12);
			margin: 1% 1% 0 0;
			text-align: right;
		}
	}

	.social {
		margin: em(20) 0;
		@include span-columns(12);

		@include media($bp-medium) {
			position: absolute;
			top: 15%;
		}
	}
}