header {
	text-align: center;
	@include position(absolute, 0 0 0 0);

	h1 {
		margin: 0;
	}

	@include media($bp-medium) {
		position: fixed;
		z-index: 9999;
		bottom: inherit;
		top: 5%;
	}
}

.about {
	header {
		position: absolute;
	}
}