.page {
    $page-font-color: $judge-gray;
	$page-action-color: $amber;
	$page-background-color: $desert-storm;
    $page-border-color: $swirl;

    .content {
        background: $page-background-color;
        color: $page-font-color;
        padding: em(140) 0 em(20);

        @include media($bp-medium) {
            padding: em(140) 0 em(80);
        }

        &-wrapper {
            @include span-columns(10);
            @include shift(1);

            @include media($bp-medium) {
                @include span-columns(8);
                @include shift(2);
            }
        }

		h2 {
			color: $page-font-color;
			font-size: em(32);
			letter-spacing: 1px;
			margin-bottom: 70px;
			text-align: center;
            font: {
				family: $proxima-light;
				weight: normal;
			}

			&::after {
				content: '';
				display: block;
				margin: 0.25em auto 0;
				height: 1px;
				width: 10%;
				background: $page-border-color;
			}
		}

		h3, h4 {
			font-size: em(24);
			margin-bottom: 0;
            padding: 0 em(15);
            font: {
				family: $proxima-bold;
				weight: normal;
			}

			@include media($bp-medium) {
				font-size: 25px;
				text-align: left;
                padding: 0;
			}
		}

        h3 {
            margin: em(35) 0 em(25);
        }

		h4 {
			color: $page-font-color;
			margin-bottom: 0;
		}

		p {
			font-size: em(18);
			line-height: 1.3em;
			padding: 0 em(20);

			@include media($bp-medium) {
				font-size: 20px;
				line-height: 1.4em;
				text-align: left;
				padding: 0;
			}
		}

        a {
            font-family: $proxima-semibold;
        }

        ul {
            list-style: disc;
            list-style-position: inside;
            padding: 0 em(40);
            margin-bottom: em(20);
            line-height: 2em;
        }
    }
}
