extends layouts/default

block vars
    - var bodyClass = 'about';

block title
    title About Edyn

block content
    #hero.hero
        .container
            .center.center-vertical
                span Edyn&apos;s vision
                h2 To change the way we grow food
                p
                    | We&rsquo;re a team of scientists, technologists, and designers creating tools that connect you to your garden to help your plants thrive.
            .overlay
        .hero-arrow
    section.section-people
        .container
            h2 Our People
            .section-item.section-item-full
                .section-image
                    .image-wrapper
                        img(src='images/Jason.jpg', alt='')
                .section-content
                    h3 Jason Aramburu
                    h4 CEO
                    p
                        | Jason Aramburu is the founder and CEO of Edyn. Jason is an ecologist and soil scientist with a passion for sensors and connected devices. He is an Echoing Green Fellow, Ashoka Fellow, Gates Foundation Grantee and one of Forbes&rsquo; 30 Social Entrepreneurs under 30. Jason previously founded and led re:char, a successful social enterprise developing carbon-negative fertilizers and soil amendments for small farmers around the world.
                    p
                        | Jason holds a degree in Ecology and Evolutionary Biology from Princeton University, and he worked as a soil scientist at the Smithsonian Tropical Research Institute in the Panamanian Rainforest.
        .container-full
            .container
                .section-item.section-item-alternate.clearfix
                    .section-image
                        .image-wrapper
                            img(src='images/Paul.jpg', alt='')
                    .section-content
                        h3 Paul Cowgill
                        h4 CTO
                        p
                            | By day, Paul works with Edyn&rsquo;s software engineers - back end, mobile, web, and firmware - and collaborates with the hardware engineering, R&amp;D, product, and design teams. Also by day, he spends his time architecting and writing code for Edyn&rsquo;s node.js back end. By night, Paul is a huge fan of comedy and music.
                .section-item.section-item-alternate
                    .section-image
                        .image-wrapper
                            img(src='images/Bobo.jpg', alt='')
                    .section-content
                        h3 Mamadou Bobo Diallo
                        h4 Director Software Engineering
                        p
                            | Bobo works with the engineering team to select the right technologies and maintain our platform&apos;s uptime.  When he isn&apos;t practicing node jitsu or improving our mobile app, he spends his time pondering whether our universe is a simulation with black matter serving as a measurement probe.
                .section-item.section-item-alternate
                    .section-image
                        .image-wrapper
                            img(src='images/Dustin.jpg', alt='')
                    .section-content
                        h3 Dustin Franco
                        h4 Embedded Systems Engineer
                        p
                            | Dustin writes firmware and studies soil at Edyn. You will either find him covered in mud in the soil lab or relaxing at his triple-desk. In his free time he enjoys circuit bending and tinkering with musical instruments.
                .section-item.section-item-alternate
                    .section-image
                        .image-wrapper
                            img(src='images/Morgan.jpg', alt='')
                    .section-content
                        h3 Morgan Williams
                        h4 VP Research and Development
                        p
                            | Morgan manages Edyn&rsquo;s product/services research and development strategy. This includes sensor optimization, development of decision trees for our recommendation algorithm, and general efforts to ensure continued innovation in the world of embedded ecological sensors.
    section.section-careers
        .container
            .center.center-vertical
                h2 Come work with us
                a.button.button-small(href='https://angel.co/edyn/jobs', target='_blank') See careers page

append footer
    include ./includes/lightbox.jade
