extends layouts/default

block vars
    - var bodyClass = 'purchase';

block title
    title Order

block nav
    nav.menu.menu-header
        .menu-icon
            span
        ul.menu-list
            li.menu-item
                a.toggle-lightbox.app-link.button(href='#') Get the App

block content
    .content
        .container
            .content-wrapper
                form#form(method="POST")
                    .content-sidebar
                        h1 Order Details
                        .order
                            .order-products
                              .order-product.order-product-template(data-device="")
                                  img.product-image(src="", alt="")
                                  h2.product-name
                                  span.order-price
                                  .order-product-ships
                                  .input-wrapper.input-number-count
                                      .input-count-wrapper
                                          input.form-control.input-count(type="text", value="0", name="input-count")
                                          .input-count-controls
                                              a.input-count-up(href="#")
                                                  i(class="icon icon-ui-arrow-up")
                                              a.input-count-down(href="#")
                                                  i(class="icon icon-ui-arrow-down")
                                              a.input-count-plus(href="#")
                                                  i(class="icon icon-ui-plus")
                                              a.input-count-minus(href="#")
                                                  i(class="icon icon-ui-minus")
                                          a.input-count-trash(href="#")
                                              i(class="icon icon-ui-trash")
                                      .input-select-count-wrapper
                                          select.form-control.input-select-count(name="input-select-count")
                            .coupon
                              .input-wrapper.input-coupon-wrapper
                                  label(for="input-coupon") Coupon Code?
                                  input.form-control#input-coupon(type="text", placeholder="Coupon Code?", name="input-coupon")
                                  span.validetta-bubble
                              .button-group.button-group-coupon
                                  button.button.button-outline.button-apply Apply
                                  button.button.button-outline.button-cancel Cancel

                            .order-summary-wrapper
                              .order-loader
                                .order-loader-text Updating...
                                .order-loader-spinner

                              table.order-summary
                                  tbody
                                      tr
                                          td Subtotal
                                          td.price-subtotal
                                      tr.line-discount
                                          td Coupon Discount
                                          td.price-discount
                                      tr
                                          td Shipping
                                          td.price-shipping
                                      tr
                                          td Tax
                                          td.price-tax
                                  tfoot
                                      tr
                                          td Total
                                          td.price-total

                        .products
                          .product.product-template
                            .product-name Name
                            .product-price $0.00
                            .product-add(data-device="") Add to Order
                            .product-soldout Sold Out
                            img.product-image(alt="")

                    .content-main
                        h2 1. Shipping Information
                        fieldset.shipping-info
                            .input-wrapper
                                label(for="input-shipping-first-name") First name
                                    span.required *
                                input.form-control#input-shipping-first-name(type="text", placeholder="First name", name="input-shipping-first-name", data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label(for="input-shipping-last-name") Last name
                                    span.required *
                                input.form-control#input-shipping-last-name(type="text", placeholder="Last name", name="input-shipping-last-name", data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label(for="input-shipping-email") Email
                                    span.required *
                                input.form-control#input-shipping-email(type="text", placeholder="Email", name="input-shipping-email", data-validetta="required,email", data-vd-message-required="This field is required.", data-vd-message-email="Your email address appears to be invalid.")
                            .input-wrapper
                                label(for="input-shipping-company") Company
                                input.form-control#input-shipping-company(type="text", placeholder="Company", name="input-shipping-company")
                            .input-wrapper
                                label(for="input-shipping-address-line-1") Address
                                    span.required *
                                input.form-control#input-shipping-address-line-1(type="text", placeholder="Address line 1", name="input-shipping-address-line-1", data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label.invisible(for="input-shipping-address-line-2") Address
                                input.form-control#input-shipping-address-line-2(type="text", placeholder="Address line 2", name="input-shipping-address-line-2")
                            .input-wrapper
                                label(for="input-shipping-country") Country
                                select.input-select.crs-country#input-shipping-country(data-region-id="input-shipping-state", data-blacklist="IR,KP", data-value="shortcode", data-default-value="US", data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label(for="input-shipping-state") State/Region
                                select.input-select#input-shipping-state(data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label(for="input-shipping-city") City/Town
                                    span.required *
                                input.form-control#input-shipping-city(type="text", placeholder="City/Town", name="input-shipping-city", data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label(for="input-shipping-zip") Postal Code
                                    span.required *
                                input.form-control#input-shipping-zip(type="text", placeholder="Zip", name="input-shipping-zip", data-bind-input="input-billing-zip", data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label(for="input-shipping-telephone") Telephone
                                    span.required *
                                input.form-control#input-shipping-telephone(type="tel", placeholder="Telephone", name="input-shipping-telephone", data-bind-input="input-billing-telephone", data-validetta="required,callback[phone]", data-vd-message-required="This field is required.")
                        h2 2. Billing Information
                        .input-checkbox
                            label(for="input-billing")
                                input.form-control#input-billing(type='checkbox', checked, value="1")
                                | Use shipping address
                        fieldset.billing-info
                            .input-wrapper
                                label(for="input-billing-first-name") First name
                                    span.required *
                                input.form-control.billing-field#input-billing-first-name(type="text", placeholder="First name", name="input-billing-first-name", data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label(for="input-billing-last-name") Last name
                                    span.required *
                                input.form-control.billing-field#input-billing-last-name(type="text", placeholder="Last name", name="input-billing-last-name", data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label(for="input-billing-email") Email
                                    span.required *
                                input.form-control.billing-field#input-billing-email(type="text", placeholder="Email", name="input-billing-email", data-validetta="required,email", data-vd-message-required="This field is required.", data-vd-message-email="Your email address appears to be invalid.")
                            .input-wrapper
                                label(for="input-billing-company") Company
                                input.form-control.billing-field#input-billing-company(type="text", placeholder="Company", name="input-billing-company")
                            .input-wrapper
                                label(for="input-billing-address-line-1") Address
                                    span.required *
                                input.form-control.billing-field#input-billing-address-line-1(type="text", placeholder="Address line 1", name="input-billing-address-line-1", data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label.invisible(for="input-billing-address-line-2") Address
                                input.form-control.billing-field#input-billing-address-line-2(type="text", placeholder="Address line 2", name="input-billing-address-line-2")
                            .input-wrapper
                                label(for="input-billing-country") Country
                                select.input-select.crs-country#input-billing-country(data-region-id="input-billing-state", data-blacklist="IR,KP", data-value="shortcode", data-default-value="US", data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label(for="input-billing-state") State/Region
                                select.input-select#input-billing-state(data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label(for="input-billing-city") City/Town
                                    span.required *
                                input.form-control.billing-field#input-billing-city(type="text", placeholder="City", name="input-billing-city", data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label(for="input-billing-zip") Zip
                                    span.required *
                                input.form-control.billing-field#input-billing-zip(type="text", placeholder="Zip", name="input-billing-zip", data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label(for="input-billing-telephone") Telephone
                                    span.required *
                                input.form-control.billing-field#input-billing-telephone(type="tel", placeholder="Telephone", name="input-billing-telephone", data-validetta="required,callback[phone]")
                        h2 3. Payment Method
                            i(class="icon icon-ui-lock", title="All transactions are secure and encrypted. Credit card information is never stored.", rel="tooltip")
                        fieldset
                            .input-wrapper
                                label(for="input-card-number") Card number
                                    span.required *
                                input.form-control#input-card-number(type="number", placeholder="Card number", name="input-card-number", data-validetta="required", data-vd-message-required="This field is required.", data-vd-message-creditcard="Invalid credit card number.")
                            .input-wrapper
                                label(for="input-card-month") Exp. month
                                    span.required *
                                .input-select
                                    span.label(data-mobile-label="Exp. Month") Expiration Month
                                    select.custom-select.form-control#input-card-month(name="input-card-month", placeholder="Expiration Month", data-validetta="required", data-vd-message-required="This field is required.")
                                        option(value="01") 01
                                        option(value="02") 02
                                        option(value="03") 03
                                        option(value="04") 04
                                        option(value="05") 05
                                        option(value="06") 06
                                        option(value="07") 07
                                        option(value="08") 08
                                        option(value="09") 09
                                        option(value="10") 10
                                        option(value="11") 11
                                        option(value="12") 12
                            .input-wrapper
                                label(for="input-card-year") Exp. year
                                    span.required *
                                .input-select
                                    span.label(data-mobile-label="Exp. Year") Expiration Year
                                    select.custom-select.form-control#input-card-year(name="input-card-year", placeholder="Expiration Year", data-validetta="required", data-vd-message-required="This field is required.")
                            .input-wrapper
                                label(for="input-card-code") Security code
                                    span.required *
                                input.form-control#input-card-code(type="number", placeholder="Code", name="input-card-code", data-validetta="required,number,minLength[3],maxLength[4]", data-vd-message-required="This field is required.")
                                i(class="icon icon-ui-question trigger-cvv")
                                .card-cvv
                                    img(src="images/card-cvv_2x.png", alt="Card CVV", width="171", height="124")
                                    p Card security code (CVV) is found on the back of most credit cards.
                        .order
                            table.order-summary
                                tbody
                                    tr
                                        td Subtotal
                                        td.price-subtotal
                                    tr.line-discount
                                        td Coupon Discount
                                        td.price-discount
                                    tr
                                        td Shipping
                                        td.price-shipping
                                    tr
                                        td Tax
                                        td.price-tax
                                tfoot
                                    tr
                                        td Total
                                        td.price-total

                        .order-support
                            div.international-note.hidden International customers are responsible for all import duties assessed by their local governments. Due to US Department of Agriculture regulations, we cannot accept returns from outside the US once the devices have touched foreign soil.
                            div Having problems placing an order? Please use the chat button on this page to get in touch with us.
                            div
                              a(href="https://edyn.zendesk.com/hc/en-us/articles/211641903-What-is-your-return-policy") Return Policy

                        input(type="submit", value="Place Order", name="placeOrder", id="placeOrder", class="button button-inverted")

append footer
    include ./includes/lightbox.jade
