extends layouts/default

block vars
    - var bodyClass = 'purchase';

block title
    title Purchase

block content
    .content
        .container
            .content-wrapper
                form
                    .content-sidebar
                        h1 Order details
                        .order
                            .order-product
                                img(src="images/edyn_sensor_thumbnail_2x.png", alt="", width="200", height="200")
                                h2 Edyn garden sensor
                                span.order-price $99.99
                            table.order-summary
                                tbody
                                    tr
                                        td Subtotal
                                        td $99.99
                                    tr
                                        td Standard shipping
                                        td $5.62
                                    tr
                                        td Tax
                                        td $5.62
                                tfoot
                                    tr
                                        td Total
                                        td $111.23
                        .preorder
                            span Pre-order
                            h3 Edyn water valve
                            span $39.99  Coming August 2015
                            a.button.button-link(href="#") Add to order
                            img(src="images/edyn_valve_thumbnail_2x.png", alt="", width="200", height="155")
                    .content-main
                        h2 1. Billing Information
                        fieldset
                            .input-wrapper
                                label(for="input-first-name") First name
                                input#input-first-name(type="text", placeholder="First name", name="input-first-name")
                            .input-wrapper
                                label(for="input-last-name") Last name
                                input#input-last-name(type="text", placeholder="Last name", name="input-last-name")
                            .input-wrapper
                                label(for="input-email") Email
                                input#input-email(type="text", placeholder="Email", name="input-email")
                            .input-wrapper
                                label(for="input-company") Company
                                input#input-company(type="text", placeholder="Company", name="input-company")
                            .input-wrapper
                                label(for="input-address-line-1") Address
                                input#input-address-line-1(type="text", placeholder="Address line 1", name="input-address-line-1")
                                //- input#input-address-line-2(type="text", placeholder="Address line 2", name="input-address-line-2")
                            .input-wrapper
                                label(for="input-city") City
                                input#input-city(type="text", placeholder="City", name="input-city")
                            .input-wrapper
                                label(for="input-state") State
                                select#input-state(name="input-state")
                                    option(value="CA") CA
                            .input-wrapper
                                label(for="input-zip") Zip
                                input#input-zip(type="text", placeholder="Zip", name="input-zip")
                            .input-wrapper
                                label(for="input-country") Country
                                select#input-country(name="input-country")
                                    option(value="USA") USA
                            .input-wrapper
                                label(for="input-telephone") Telephone
                                input#input-telephone(type="text", placeholder="Telephone", name="input-telephone")
                        h2 2. Shipping information
                        .input-checkbox
                            label(for="input-billing")
                                input#input-billing(type='checkbox', checked)
                                | Use billing address
                        h2 3. Shipping method
                        .input-radio
                            label(for="input-standard-shipping")
                                input#input-standard-shipping(name="input-shipping", type="radio", checked)
                                | Standard shipping
                                .input-notice 3–5 business days
                                .align-right $5.62
                            label(for="input-expedited-shipping")
                                input#input-expedited-shipping(name="input-shipping", type="radio")
                                | Standard shipping
                                .input-notice 1-2 business days
                                .align-right $8.47
                        h2 4. Payment method
                            i(class="icon icon-ui-lock")
                        fieldset.alternate
                            .input-wrapper
                                label(for="input-card-number") Card number
                                input#input-card-number(type="text", placeholder="Card number", name="input-card-number")
                            .input-wrapper
                                label(for="input-card-month") Exp. month
                                select#input-card-month(name="input-card-month", placeholder="Month")
                            .input-wrapper
                                label(for="input-card-year") Exp. year
                                select#input-card-year(name="input-card-year", placeholder="Year")
                            .input-wrapper
                                label(for="input-card-code") Security code
                                input#input-card-code(type="text", placeholder="Code", name="input-card-code")
                                i(class="icon icon-help")
                        .order
                            table.order-summary
                                tbody
                                    tr
                                        td Subtotal
                                        td $99.99
                                    tr
                                        td Standard shipping
                                        td $5.62
                                    tr
                                        td Tax
                                        td $5.62
                                tfoot
                                    tr
                                        td Total
                                        td $111.23
                                
                        input(type="submit", value="Place order", class="button button-inverted")
                
append footer
    include ./includes/lightbox.jade
