//- includes/footer.jade
block footer
    footer
        .container
            nav.menu.menu-footer
                ul.menu-list
                    li.menu-item.menu-item-alternate
                        a(href='https://angel.co/edyn/jobs', target='_blank') Careers
                    li.menu-item.menu-item-alternate
                        a(href='/about') About
                    li.menu-item.menu-item-alternate
                        a(href='https://edyn.zendesk.com/hc/en-us', target='_blank') Support
                    //- li.menu-item.menu-item-alternate
                    //-     a(href='/privacy') Privacy               
            .app
                a.button-appstore(href='https://itunes.apple.com/us/app/edyn/id939748941?mt=8', target='_blank') Download from the App Store
                a.button-googleplay(href='https://play.google.com/store/apps/details?id=com.edyn.apps.edyn', target='_blank') Get it on Google play
            .social
                a.button-social.icon-facebook(href='https://www.facebook.com/edyngarden', target='_blank')
                a.button-social.icon-twitter(href='https://twitter.com/EdynGarden', target='_blank')
                a.button-social.icon-instagram(href='https://instagram.com/edyn_garden/', target='_blank')
            p &copy; 2015 by Edyn. All rights reserved. 405 15th St, Oakland, CA 94612
